<h1>Cadastrar no sistema</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Formulário inválido</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :senha %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :senha_novamente %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit "Salvar" %></p>
<% end %>